---
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
---

<InfoLayout>
     <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh flex flex-col justify-between gap-32">
          <div class="space-y-4 sm:space-y-12">
               <H1> Conóceme! </H1>

               <p class="text-xl xl:text-2xl text-zinc-500 text-balance">
                    <a href="https://www.instagram.com/alvaromagda_/" target="_blank" class="underline underline-offset-4 decoration-zinc-400 hover:text-zinc-50 hover:decoration-zinc-200">
                         Álvaro Magdalena
                    </a>
                    (2005) es un joven técnico residente en Sanxenxo, actualmente cursando el segundo año de un Ciclo Superior de Automoción. Su pasión por la mecánica abarca tanto el mundo del automóvil como el de las motocicletas, con especial interés en motores térmicos, sistemas eléctricos y preparación de vehículos. Paralelamente, explora el mundo del mercado de activos y el comercio electrónico, con un proyecto de tienda de decoración del hogar bajo el nombre
                    <a href="https://www.minimal-nest-4.myshopify.com" target="_blank" class="underline underline-offset-4 decoration-zinc-400 hover:text-zinc-50 hover:decoration-zinc-200">
                         Minimal Nest
                    </a>
                    . Su perfil combina habilidades técnicas avanzadas con una marcada inquietud emprendedora y digital.
               </p>
          </div>

          <div class="space-y-2 text-base sm:text-lg">
               <h2 class="px-4 text-zinc-400 underline underline-offset-4 decoration-zinc-500">//Logros</h2>

               <ul class="px-4 text-zinc-400 list-disc list-outside">
                    //Logros
               </ul>
          </div>
     </div>
</InfoLayout>
